#primerelemento {
    color:red;
    font-size:2rem;
}
#segundoelemento {
    color: blue; 
}
#tercerelemento {
    color:yellow;
}
#cuartoelemento {
    color:purple;
}
#quintoelemento {
    color:aqua;
}
